<!DOCTYPE html>
<html lang="en-us">
  <head>
​
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
​
    <title>Home Page Dashboard</title>
​
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
​
  </head>
​
  <body>
    <!-- Navbar -->
	<div class="navigation">
	  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html">Lattitude</a>
        <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
​
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">Plots</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="temp.html">High Temperatures</a>
                <a class="dropdown-item" href="humidity.html">Humidity</a>
                <a class="dropdown-item" href="clouds.html">Cloudiness</a>
                <a class="dropdown-item" href="wind.html">Wind Speed</a>
              </div>
            </li>
            <li class="nav-item">
			  <a class="nav-link" href="compare.html">Comparison</a>
			</li>
            <li class="nav-item">
			  <a class="nav-link" href="data.html">Data</a>
			</li>
          </ul>
        </div>
      </nav>
	</div>
​
  <!-- Container -->
    <div class="container">
      <section class="row">
        <div class="col-lg-7 col-md-12">
          <div class="description-content">
            <h1 class="description-header">Summary: Latitude and Climate</h1>
            <hr>
            <img src="Resources/assets/images/Fig1.png" alt="Latitude v. High Temperatures" class="description-image">
            <p>Our analysis objective to review how climate variables can change based on degrees of latitude. We reviewed over 500 cities from the OpenWeatherMap API for the results.</p>
            <p>Once the data was munged, we analyzed the data with a variety of plots for cloud cover, temparature, wind speed and humidity. Please see the results of the findings on this site. It will include visuals (MatplotLib), data (Pandas) and explanations of our observations of the data. Some of the results are predictable such as warmer temperatures closer to the equator, but others show variations such as wind speed.</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
​
          <!-- Visuals -->
          <section id="imageNav-area">
            <div class="imageNav-content">
              <h2 class="imageNav-header">Visualizations</h2>
              <hr />
              <div class="container">
			    <div class="row">
				  <div class="col-6">
                    <a href="temp.html">
				      <img src="Resources/assets/images/Fig1.png" alt="Latitude v. High Temperatures", title="Latitude v. High Temperatures" class="imageNav-photo">
				    </a>
				  </div>
				  <div class="col-6">
                    <a href="humidity.html">
				      <img src="Resources/assets/images/Fig2.png" alt="Latitude v. Humidity", title="Latitude v. Humidity" class="imageNav-photo">
			        </a>
                    </div>
				  <div class="col-6">
                    <a href="cloudiness.html">
				      <img src="Resources/assets/images/Fig3.png" alt="Latitude v. Cloudiness", title="Latitude v. Cloudiness", class="imageNav-photo">
				    </a>
				  </div>
				  <div class="col-6">
                    <a href="wind.html">
				      <img src="Resources/assets/images/Fig4.png" alt="Latitude v. Wind Speed", title="Latitude v. Wind Speed", class="imageNav-photo">
				    </a>
				  </div>
                </div>
			  </div>
            </div>
          </section>
​
        </div>
      </section>
    </div>
​
    <!-- Footer -->
    <footer>
      <div class="footer"></div>
    </footer>
​

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
​
</html>